@define-mixin resetNativeButton {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}

@define-mixin heading2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 54px;

  @media (--tablet), (--phone) {
    font-size: 38px;
    line-height: 46px;
  }
}

@define-mixin heading4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;

  @media (--tablet), (--phone) {
    font-size: 20px;
    line-height: 28px;
  }
}

@define-mixin paragraph2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;

  @media (--tablet), (--phone) {
    font-size: 16px;
    line-height: 24px;
  }
}

@define-mixin paragraph2-regular {
  @mixin paragraph2;
  font-weight: 400;
}

@define-mixin paragraph3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  @media (--tablet), (--phone) {
    font-size: 14px;
    line-height: 22px;
  }
}

@define-mixin paragraph3-bold {
  @mixin paragraph3;
  font-weight: 600;
}

@define-mixin paragraph3-regular {
  @mixin paragraph3;
  font-weight: 400;
}

@define-mixin paragraph4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;

  @media (--tablet), (--phone) {
    font-size: 13px;
    line-height: 21px;
  }
}

@define-mixin paragraph4-bold {
  @mixin paragraph4;
  font-weight: 600;
}

@define-mixin paragraph4-regular {
  @mixin paragraph4;
  font-weight: 400;
}

@define-mixin paragraph5 {
  font-size: 13px;
  font-weight: 500;
  line-height: 21px;

  @media (--tablet), (--phone) {
    font-size: 12px;
    line-height: 20px;
  }
}

@define-mixin paragraph6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

@define-mixin paragraph6-bold {
  @mixin paragraph6;
  font-weight: 600;
}

@define-mixin paragraph6-regular {
  @mixin paragraph6;
  font-weight: 400;
}

@define-mixin flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

@define-mixin flexColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
